body {
  background: linear-gradient(35deg, #faf, #07f);
}

a {
  margin: 0 5px;
  color: #fff;
}

.main {
  width: 60%;
  margin: 10px auto;
  padding: 2em;
  color: black;
}

.text-box {
  text-align: center;
  color: #fff;
}

.card {
  margin: 30px auto;
  color: #fff;
  padding: 20px;
  background: rgba(0, 105, 255, 1);
  border-radius: 10px;
  box-shadow: 17px 10px teal;
}

.last-block {
  margin-top: 100px;
  font-size: 25px;
}

.custom-menu-wrapper {
  background-color: #808080;
  white-space: nowrap;
  position: relative;
}

.custom-menu {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
  color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
  background-color: transparent;
}

.custom-menu-top {
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.custom-menu-brand {
  display: block;
  text-align: center;
  position: relative;
}

.custom-menu-toggle {
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
  display: none;
}

.custom-menu-toggle .bar {
  background-color: white;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 22px;
  right: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.custom-menu-screen {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  height: 3em;
  width: 70em;
  position: absolute;
  top: 0;
  z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
  -webkit-transform: translateY(-44px);
  -moz-transform: translateY(-44px);
  -ms-transform: translateY(-44px);
  transform: translateY(-44px);
}

#footer {
  position: relative;
  height: 5em;
  line-height: 5em;
  margin: 15% 0 0 0;
  background: #000000;
  color: #999;
  color: rgba(185, 186, 187, 0.5);
  overflow: hidden;
}

#footer a {
  color: #999;
  color: rgba(185, 186, 187, 0.5);
}

#footer a:hover {
  color: #bbb;
  color: #b9babb;
}

#footer .copyright {
  position: absolute;
  right: 2em;
  top: 0;
  height: 5em;
  line-height: 5em;
  margin: 0;
}

#footer .copyright span {
  font-size: 0.9em;
}

@media (max-width: 62em) {
  .last-block {
    margin: auto;
    font-size: 15px;
  }
  
  .custom-menu {
    display: block;
  }

  .custom-menu-toggle {
    display: block;
    display: none\9;
  }

  .custom-menu-bottom {
    position: absolute;
    width: 100%;
    border-top: 1px solid #eee;
    z-index: 100;
  }

  .custom-menu-bottom .pure-menu-link {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
  }

  .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
    -webkit-transform: translateX(-140px);
    -moz-transform: translateX(-140px);
    -ms-transform: translateX(-140px);
    transform: translateX(-140px);
    opacity: 0;
    opacity: 1\9;
  }

  .pure-menu-horizontal.custom-menu-tucked {
    z-index: -1;
    top: 45px;
    position: absolute;
    overflow: hidden;
  }
}
